.graph__switchable-wrapper {
  height: fit-content;
}

.graph__headline {
  margin-bottom: 16px;
}

.graph__switchable-title {
  display: flex;
  flex-direction: column;
  gap: 32px;
  gap: 0 32px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}